
@media screen
{

html {
  background: #2E2E35;
  color: #DDDDDD;
  font-family: verdana, helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
td, th {
  padding: 2 12 0 0;
  vertical-align: middle;
}
form {
  display:inline;
}
.header {
  color: #FFA500;
  text-align: left;
}
.sidebar {
  background: #528052;
  color: #000000;
  padding: 10px;
}
.menubox {
  position: fixed;
  width: 15%;
  border: none;
  box-sizing: border-box;
}
.menubox.main {
  height: 100%;
}
.menubox.context {
  border-top: 5px solid #427042;
  top: 50%;
  bottom: 50px;
  padding-top: 30px;
}
.center {
  position: absolute;
  left: 15%;
  width: 85%;
  padding: 0 20px;
  box-sizing: border-box;
}
.menubutton, .menusearch {
  display: block;
  height: 50px;
  border: 2px solid #000000;
  background-color: #FFA500; /*#828081;*/
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  transition-duration: 0.3s;
}
.menubutton:hover {
  height: 54px;
  width: 104%;
  background-color: #FFE580;
}
.inlinebutton {
  background:none;
  color:inherit;
  font:inherit;
  text-align:inherit;
  border:none;
  cursor:pointer;
  padding:0;
  word-break:break-word;
  white-space:normal;
  max-width: 400px;
}
.iconbutton {
  font-size: 20;
  outline: 2px solid #2B2B32;
  border-radius: 3px;
}
.icon {
  display: inline-block;
  width: 25px;
  text-align: center;
}

}

@media print
{
html {
  font-family: verdana, helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
td, th {
  padding: 2 12 0 0;
  vertical-align: middle;
}
form {
  display:inline;
}
.header {
  text-align: left;
}
.menubox {
  display:none !important;
}
.center {
  position: absolute;
  width: 100%;
  padding: 10px;
}
.inlinebutton {
  background:none;
  color:inherit;
  font:inherit;
  text-align:inherit;
  border:none;
  cursor:pointer;
  padding:0;
  word-break:break-word;
  white-space:normal;
  max-width: 400px;
}
.iconbutton {
  display:none !important;
}

}